---
import Layout from "../layouts/Layout.astro";
import { getBlogs, type Blog } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "reviewImage"] });
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-8">
    <ul>
      {
        response.contents.map((content: Blog) => (
          <li class="flex flex-col mb-8 px-9">
            <div class="flex flex-col gap-3 items-center">
              <a 
               href={content.id}
               class="font-sans"
              >
                {content.title}
              </a>
              <img 
               src={content.reviewImage.url} 
               class="w-40 h-40 rounded-full" 
              />
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
