---
import Layout from "../layouts/Layout.astro";
import { getBlogs, type Blog } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title","reviewImage"] });
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-8">
    <ul>
      {
        response.contents.map((content: Blog) => (
          <li>
            <div>
              <a href={content.id}>{content.title}</a>
              <img src={content.reviewImage.url}/>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
